circle {
	r: 5px;
	fill: black;
}

svg {
	border: 1px solid black;
	overflow: visible;
	margin-bottom: 50px;
}

body {
	margin: 20px 100px;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 10px;
	text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  font-size: 8px;
}